$primary-font-family: 'Segoe UI', Tahoma, sans-serif;
$primary-font-style: normal;
$primary-font-weight: 400;
$primary-line-height: 131%;
$primary-text-color: #131316;
$accent-text-color:  #ff0000;
$secondary-text-color: #fff;
$primary-text-transform: uppercase;
$primary-bg-color: #131316;
$accent-bg-color: #ff0000; 
$primary-transition: 0.3s ease-in-out;
$primary-border-radius: 4px;