/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 131%;
  background-color: #131316;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  background-image: url("../../img/bg-main@1x.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #131316;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  padding: 0 10px;
}

.wrapper::before {
  position: absolute;
  width: 100%;
  height: 500px;
  content: "";
  background-image: linear-gradient(180deg, rgba(19, 19, 22, 0) 0%, #131316 100%);
  top: 160px;
  left: 0;
}

.section-container {
  max-width: 620px;
  margin: 0 auto;
}

.footer {
  padding: 30px 0 25px;
}
@media (max-width: 576px) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.footer__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}
.footer__contacts {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8125rem;
  line-height: 106%;
  color: rgba(255, 255, 255, 0.5);
}
.footer__contacts-phone {
  color: #fff;
  font-size: 0.75rem;
  text-decoration-line: none;
  cursor: pointer;
}
@media (min-width: 660px) {
  .footer__contacts-phone {
    font-size: 1rem;
    line-height: 131%;
  }
}
.footer__contacts-mail {
  font-size: 0.75rem;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 660px) {
  .footer__contacts-mail {
    font-size: 1rem;
    line-height: 131%;
  }
}

.title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 133%;
  color: #fff;
}

.button {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  height: 40px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(87.23deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
  transition: background-color 0.3s;
  z-index: 5;
}
@media (min-width: 660px) {
  .button {
    min-width: 180px;
  }
}

.button:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  border-radius: inherit;
  transition: 0.3s ease-in-out opacity;
  background-image: linear-gradient(270deg, rgba(128, 26, 179, 0) -91.42%, #4c4cff 99.79%);
}

.button:hover:before {
  opacity: 1;
}

.button--promocode {
  color: #131316;
  border: 1px dashed #131316;
  background: none;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.button--wide {
  width: 100%;
}

.card {
  position: relative;
  overflow: visible;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  width: 100%;
}
@media (min-width: 660px) {
  .card {
    aspect-ratio: 1/0.6;
  }
}
.card__img-container {
  width: 200px;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}
.card__img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 660px) {
  .card__img-container--md {
    width: 305px;
    height: 180px;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}
@media (min-width: 660px) {
  .card__content {
    width: 100%;
  }
}
.card__product-name {
  font-size: 0.8125rem;
  line-height: 106%;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #131316;
}
@media (min-width: 660px) {
  .card__product-name {
    padding: 0 10px;
    font-size: 1rem;
    line-height: 131%;
  }
}
.card__price-brief {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}
@media (min-width: 660px) {
  .card__price-brief {
    justify-content: space-around;
    flex-direction: row;
  }
}
.card__current-price {
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 108%;
  letter-spacing: -0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131316;
}
.card__old-price {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  color: #d9d9d9;
}
.card__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  line-height: 131%;
  border-radius: 4px;
  width: 60px;
  height: 24px;
}

@media (min-width: 660px) {
  .card--sm {
    max-width: 200px;
    min-height: 310px;
  }
  .card--md {
    max-width: 305px;
    min-height: 340px;
  }
}
.card-promo__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
}
@media (min-width: 660px) {
  .card-promo__content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.card-promo__img-wrapper {
  width: 100%;
  aspect-ratio: 2/1.2;
  background: url("../../img/ship--3@1x.png");
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 660px) {
  .card-promo__img-wrapper {
    width: 51%;
    height: 305px;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
  }
}
.card-promo__img-wrapper img {
  width: 100%;
  display: block;
}
.card-promo__info {
  width: 100%;
  color: #131316;
  flex-grow: 1;
}
@media (min-width: 660px) {
  .card-promo__info {
    flex-grow: 0;
    width: 40%;
  }
}
.card-promo__name {
  padding-top: 5px;
  padding-bottom: 7px;
}
.card-promo__description {
  padding-bottom: 17px;
  font-size: 0.8125rem;
  line-height: 131%;
}
.card-promo__price-brief {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 26px;
}
.card-promo__current-price {
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}
.card-promo__prices {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 131%;
  padding-bottom: 26px;
}
.card-promo__discount {
  display: flex;
  justify-content: space-between;
}
.card-promo__discount-price--accent {
  color: #ff0000;
  font-weight: 700;
}
.card-promo__button {
  min-width: 280px;
  padding: 29px 10px;
}
.card-promo__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 35px;
}

.socials-logo {
  transition: 0.3s ease-in-out opacity;
}

.socials-logo:hover {
  opacity: 60%;
}

.socials-logo-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 19px 0 25px;
}

.rate {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 30px 0 10px;
}
@media (max-width: 576px) {
  .rate {
    padding-top: 10px;
  }
}
.rate__point {
  width: 28px;
  height: 28px;
}
.rate__point--void {
  opacity: 10%;
}
.rate__point-pic {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.goods {
  padding: 23px 0 55px 0;
}
.goods__title {
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
}
.goods__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 659.9px) {
  .goods__cards-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.goods__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 180px;
  padding: 10px;
}
@media (min-width: 660px) {
  .goods__card {
    flex-direction: column;
    height: auto;
  }
}

.promo {
  padding-bottom: 30px;
}
@media (max-width: 576px) {
  .promo {
    padding-bottom: 10px;
  }
}
.promo__title {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}