.socials-logo {
  transition: $primary-transition opacity;
}

.socials-logo:hover {
  opacity: 60%;
}

.socials-logo-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 19px 0 25px;

  // @media (max-width: 576px) {
  //   font-size: 0.75rem;
  //   padding-bottom: 10px;

  //   img {
  //     width: 60%;
  //   }
  // }
}