.socials-logo {
  -webkit-transition: $primary-transition opacity;
  transition: $primary-transition opacity;
}

.socials-logo:hover {
  opacity: 60%;
}

.socials-logo-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 20px;
  padding: 19px 0 25px;
}